@media (max-width: 700px){
    
    body{
        align-items: center;
    }
    .header1{
        align-items: center;
        justify-items: center;
        justify-content: center;
    }
    .headermain{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
        text-align: center;
    }
    .text3{
        justify-content: center;
        align-items: center;
        padding: 0%;
    }
    .icones{

        display: none
    }
    nav{
        align-items: center;
        justify-items: center;
        justify-content: center;
        text-align: center;
        
    }
    
    .menuitens{
        display: flex;
        flex-direction: column;
    }

}